.container {
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* */

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.laquerida {
  width: 20%;
  margin: 1rem 0;
}
.logo_cons {
  font-size: clamp(1.3rem, 5vw, 2.2rem);
  margin-bottom: 1rem;
}
.logo_prox {
  width: 60%;
  margin-bottom: 1rem;
}
.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-size: clamp(1rem, 10vw, 1.6vw);
}
.whats_icon {
  height: 110px;
  width: 110px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.logo_bold {
  font-weight: bold;
}
.logo_light {
  font-weight: lighter;
}
/* */
.contact {
  width: 95%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5%;
}
.con {
  display: flex;
  font-weight: bolder;
  margin-bottom: 2.5%;
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-start;
}
/* */
.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.landscape {
  height: 80%;
  position: relative;
}
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  z-index: 1;
}
.one {
  background-color: hsl(0, 3%, 30%);
  flex-grow: 1;
}
.two {
  background-color: #6A6562;
  flex-grow: 2;
}
.three {
  background-color: hsl(48, 6%, 53%);
  flex-grow: 1;
}
.four {
  background-color: hsl(38, 5%, 46%);
  flex-grow: 2;
}
.five {
  background-color: hsl(33, 4%, 41%);
  flex-grow: 1.5;
}
.flota {
  position: absolute;
  z-index: 1;
  width: 30%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1399.98px) {
  .laquerida {
    width: 30%;
  }
  .logo_prox {
    width: 60%;
  }
  .whatsapp {
    font-size: clamp(1.4rem, 10vw, 1.5rem);
  }
  .whats_icon {
    height: 90px;
    width: 90px;
  }
  /**/
  .contact {
    font-size: clamp(1rem, 10vw, 1.2rem);
  }
  /**/
  .flota {
    bottom: 13%;
    width: 40%;
  }
}
@media (max-width: 1199.98px) {
  .logo_cons {
    font-size: clamp(2rem, 10vw, 2.5rem);
  }
  .whatsapp {
    font-size: clamp(1.5rem, 10vw, 1.6rem);
  }
  .whats_icon {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 991.98px) {
  .laquerida {
    width: 50%;
  }
  .logo_cons {
    font-size: clamp(2.5rem, 10vw, 3rem);
  }
  .logo_prox {
    width: 90%;
  }
  .whatsapp {
    font-size: clamp(2rem, 20vw, 2.2rem);
  }
  .whats_icon {
    width: 80px;
    height: 80px;
  }
  /*  */
  .contact {
    font-size: 1.5rem;
    padding: 0;
  }
  .con {
    margin-bottom: .5rem;
  }
  /*  */
  .flota {
    width: 70%;
    bottom: 15%;
  }
}
@media (max-width: 767.98px) {
  .laquerida {
    width: 30%;
    margin: 0;
  }
  .logo_cons {
    font-size: clamp(1rem, 10vw, 1.2rem);
    margin: 0 0 .5rem 0;
  }
  .logo_prox {
    width: 50%;
    margin-bottom: .2rem;
  }
  .whatsapp {
    font-size: clamp(.9rem, 10vw, 1rem);
    gap: .2rem;
  }
  .whats_icon {
    width: 50px;
    height: 50px;
  }
  /*  */
  .contact {
    font-size: .8rem;
    margin: 0;
    padding: 0;
  }
  .con {
    margin: 0;
  }
  /* */
  .landscape {
    height: 90%;
  }
  .bg {
    height: 10%;
  }
  .flota {
    bottom: 9%;
    width: 50%;
  } 
}

@media (max-width: 575.98px) {
  .main {
    align-items: center;
  }
  .laquerida {
    width: 60%;
  }
  .logo_prox {
    width: 95%;
    margin-bottom: .4rem;
  }
  .whatsapp {
    gap: .5rem;
  }
  .whats_icon {
    width: 60px;
    height: 60px;
  }
  /*  */
  .contact {
    align-items: center;
    width: 95%;
    text-align: center;
  }
  .con {
    justify-content: center;
    align-self: center;
  }
  .con_info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  /* */
  .landscape {
    height: 60%;
  }
  .bg {
    height: 40%;
  }
  .flota {
    bottom: 30%;
    width: 95%;
  }
}




