.container {
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* */
.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
  .laquerida {
    width: 20%;
    margin: 1rem 0;
  }
  .web_cons {
    width: 340px;
    margin-bottom: 1rem;
  }
  .logo_prox {
    width: 60%;
    margin-bottom: 1rem;
  }
  
  .whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
    .deja_datos {
      width: 10%;
    }
    .te_avisamos {
      width: 10%;
    }
    .whats_icon {
      height: 110px;
      width: 110px;
      animation-name: pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      display: flex;
      justify-content: center;
      align-items: center;
    }
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* */
.contact {
  width: 95%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
  .con_whats { 
    width: 10%;
    display: flex;
    align-items: center;
    align-self: flex-start;
  }
  .con_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
    .con_info_num {
      flex-grow: 1;
    }
    .con_info_num2 {
      flex-grow: 2;
    }
/* */
.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
  .landscape {
    height: 80%;
    position: relative;
  }
  .bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    z-index: 1;
  }
    .one {
      background-color: hsl(0, 3%, 30%);
      flex-grow: 1;
    }
    .two {
      background-color: #6A6562;
      flex-grow: 2;
    }
    .three {
      background-color: hsl(48, 6%, 53%);
      flex-grow: 1;
    }
    .four {
      background-color: hsl(38, 5%, 46%);
      flex-grow: 2;
    }
    .five {
      background-color: hsl(33, 4%, 41%);
      flex-grow: 1.5;
    }
  .flota {
    position: absolute;
    z-index: 1;
    width: 30%;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
  }

@media (max-width: 1399.98px) {
  .laquerida {
    width: 25%;
  }
  .logo_prox {
    width: 60%;
  }
  .web_cons {
    width: 20%;
  }
  .whatsapp {
    gap: 0;
  }
  .whats_icon {
    height: 90px;
    width: 90px;
  }
  /**/
  .contact {
    gap: 0;
    margin-bottom: 3%;
  }
    .con_whats {
      margin-bottom: 2.5%;
    }
  /**/
  .flota {
    width: 40%;
  }
}

@media (max-width: 1199.98px) {
  .laquerida {
    width: 30%;
  }
  .web_cons {
    width: 25%;
  }
  .logo_prox {
    width: 70%;
  }
    .deja_datos, .te_avisamos {
      width: 15%;
    }
  .whats_icon {
    width: 70px;
    height: 70px;
  }
  .contact {
    width: 100%;
    padding: 0 1%;
  }
    .con_info {
      gap: .5rem;
    }
    .con_whats {
      margin-bottom: 4%;
    }
}

@media (max-width: 991.98px) {
  .laquerida {
    width: 30%;
    margin: 0;
  }
  .web_cons {
    width: 20%;
    margin-bottom: .5rem;
  }
  .logo_prox {
    width: 50%;
    margin-bottom: .5rem;
  }
  .deja_datos, .te_avisamos {
    width: 12%;
  }
  .whats_icon {
    width: 50px;
    height: 50px;
  }
  /*  */
  .contact {
    font-size: 1.5rem;
    padding: .1rem 1%;
    margin-bottom: 0;
  }
    .con_whats {
      margin-bottom: 0;
    }
  /*  */
  .flota {
    width: 40%;
    bottom: 7%;
  }
  /*  */
  .landscape {
    height: 90%;
  }
  .bg {
    height: 10%;
  }
}

@media (max-width: 767.98px) {
  .laquerida {
    width: 35%;
  }
  .web_cons {
    width: 25%;
  }
  .logo_prox {
    width: 60%;
  }
    .te_avisamos, .deja_datos {
      width: 15%;
    }
}

@media (max-width: 575.98px) {
  .logo {
    margin-top: 25%;
  }
  .laquerida {
    width: 60%;
  }
  .web_cons {
    width: 50%;
    margin-bottom: 1rem;
  }
  .logo_prox {
    width: 95%;
    margin-bottom: 1rem;
  }
  .te_avisamos, .deja_datos {
    width: 30%;
  }
  .whats_icon {
    width: 70px;
    height: 70px;
  }
  /*  */
  .contact {
    align-items: center;
    gap: 2vh;
  }
    .con_whats {
      width: 40%;
      justify-content: center;
      margin: auto;
    }
    .con_info {
      flex-direction: column;
      width: 100%;
      padding: 1%;
      gap: 2vh;
    }
      .con_info_num2 {
        width: 100%;
      }
      .con_info_num {
        width: 50%;
      }
  /* */
  .landscape {
    height: 60%;
  }
  .bg {
    height: 40%;
  }
  .flota {
    bottom: 26%;
    width: 95%;
  }
}




